<!DOCTYPE html>

<!--

          _____                    _____                    _____
         /\    \                  /\    \                  /\    \
        /::\    \                /::\    \                /::\    \
       /::::\    \              /::::\    \              /::::\    \
      /::::::\    \            /::::::\    \            /::::::\    \
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \
    /:::/  \:::\    \        /:::/__\:::\    \        /:::/  \:::\    \
   /:::/    \:::\    \      /::::\   \:::\    \      /:::/    \:::\    \
  /:::/    / \:::\    \    /::::::\   \:::\    \    /:::/    / \:::\    \
 /:::/    /   \:::\    \  /:::/\:::\   \:::\    \  /:::/    /   \:::\ ___\
/:::/____/     \:::\____\/:::/  \:::\   \:::\____\/:::/____/     \:::|    |
\:::\    \      \::/    /\::/    \:::\  /:::/    /\:::\    \     /:::|____|
 \:::\    \      \/____/  \/____/ \:::\/:::/    /  \:::\    \   /:::/    /
  \:::\    \                       \::::::/    /    \:::\    \ /:::/    /
   \:::\    \                       \::::/    /      \:::\    /:::/    /
    \:::\    \                      /:::/    /        \:::\  /:::/    /
     \:::\    \                    /:::/    /          \:::\/:::/    /
      \:::\    \                  /:::/    /            \::::::/    /
       \:::\____\                /:::/    /              \::::/    /
        \::/    /                \::/    /                \::/____/
         \/____/                  \/____/                  ~~

Hi! Welcome to my website. I hope you can find whatever you are looking for here.
This website is still a beta version. Feel free to email me if you find any bugs or have any suggestion.

A Friendly Reminder: Do NOT contact me if you are a stalker!

-->

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119539904-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119539904-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <% if (page.title && !page.title.match(/\d+/)) { %>
            <%- titlecase(page.title) %>
            ▼▲
        <% } else if (page.title && page.title.match(/\d+/)) { %>
                Blog ▼▲ Page <%- page.title.match(/\d+/) %>
            ▼▲
        <% } %>
        <% if (page.category) { %>
            <%- titlecase(page.category) %>
            ▼▲
        <% } %>
        <%- config.title %>
    </title>

    <meta name="description" content="<% if (page.summary) { %>page.summary<% } else { %>config.description<% } %>">


    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,700,900|Eczar:400,700,800" rel="stylesheet">

    <%- css(['css/normalize.css', 'css/fa.min.css', 'css/github-gist.css']) %>
    <%- css('css/common.css') %>
    <%- css('css/cad.css') %>

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">-->
    <%- js(['js/jquery-3.3.1.min.js', 'js/highlight.pack.js', 'js/slick.fixed.js', 'js/md5.min.js']) %>
    <%- js('js/cad.js') %>
</head>
<body>
    <%- partial('partial/loader') %>
    <%- partial('partial/menu') %>
    <%- body %>
    <%- partial('partial/scrollbar') %>
    <%- partial('partial/footer') %>
</body>
</html>